@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground: #fff;
  --background-start: #050e11;
  --background-end: #011a2a;
}


@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke: 2px white;
  }

  .text-fill-black {
    color: black;
  }

  .gradient-border {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, white, #1c6d7e);
    border-image-slice: 1;
  }

  .gradient-text {
    background: linear-gradient(to right, #1c6d7e, #279ab1);
    -webkit-background-clip: text;
    color: transparent;
  }

  .gradient-bg {
    background: linear-gradient(to bottom, #1c6d7e, #191036);
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  .smallCard {
    background-color: #1c6d7e22;
    color: #888;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    flex-direction: column;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end)), var(--background-start);
}

/*for debugging the layout*/
.dbg {
  color: black;
  border-radius: 8px;
  background-color: rgba(240, 248, 255, 0.866);
}

*::-webkit-scrollbar {
  display: none;
}